body {
    background-color: white;
}

.container {
    margin: auto;
    width: 1112px;
}

.pricing-section {
    margin-top: 150px;
}

.pricing-header {
    font-family: DM Sans;
    font-style: bold;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pricing-header__title {
    color: #19191B;
    font-size: 60px;
    line-height: 70px;
    width: 500px;
}

.switch {
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background: #F7F7FB;
    display: flex;
    padding: 5px;
    overflow: hidden;
}

.switch__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-size: 16px;
    border-radius: 5px;
}

.switch__button_active {
    background-color: #5454D4;
    color: white;
}

.pricing-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 80px;
    padding: 0 18px;
}

.price-item {
    width: 330px;
    height: 441px;
    border-radius: 10px;
    background: #F8F8F8;
    padding: 40px 20px;
    color: #696871;

    text-align: center;
    font-family: DM Sans;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.price-item__price {
    color: #1D293F;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
}

.price-item__content {
    font-family: Mulish;
    line-height: 50px;
    width: 200px;
    height: 142px;
}

.price-item__button {
    width: 290px;
    height: 57px;
    border-radius: 10px;
    background: white;

    color: #5454D4;
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
}

.price-item_selected {
    width: 376px;
    height: 473px;
    background: #FF7143;
    color: white;
}

.price-item_selected .price-item__price {
    color: white;
}

.price-item_selected .price-item__button {
    width: 336px;
    height: 63px;
    background: #9F3919;
    color: white;
}







.nav-section {
    margin-top: 30px;
    width: 1070px;
    height: 60px;   
    display: flex;
}

.nav-logo {
    width: 200px;
    height: 40px;
}

.nav-menu {
    width: 327px;
    height: 32px;
    padding:0px 165px;
    display: flex;
}

.nav-menu__item {
    color: #696871;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.nav-menu__selected-item {
    color: #19191B;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #5454D4;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.nav-menu__item:not(:last-child) {
    margin-right: 50px;
}

.nav-button {
    width: 211px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;

    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}



.hero-section {
    margin-top: 100px;
    align-items: center;
    height: 644px;
    display: flex;
}

.hero-3d{
    position: relative;
    width: 590px;
    height: 644px;
}

.hero-3d img {
    position: absolute;
    top: 0;
    left: 0;
  }

.hero-3d__pose {
    width: 590px;
    height: 644px;
}

.hero-3d__stand {
    width: 565px;
    height: 360px;
    padding-top: 116px;
    padding-left: 57px;
}

.hero-3d__bubble {
    width: 233px;
    height: 153px;
    padding-left: 388px;
    padding-top: 421px;
}

.hero-text {
    margin-right: 24px;
    width: 470px;
}

.hero-text__title {
    color: #19191B;
    font-family: DM Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; 
    letter-spacing: -2.5px;
}

.hero-text__subtitle {
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.625px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.hero-text__more-info {
    display: flex;
    align-items: center;
}

.hero-text__button {
    width: 215px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;    

    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.hero-text__svg {
    padding-left: 40px;
    width: 60px;
    height: 60px;   
}